.features {
    padding-top: 20px;
    .feature {
        display: flex;
        justify-content: space-between;
        padding: 10px 40px;
        &-main {
            margin-left: 30px;
            margin-bottom: 30px;
            h3,
            a {
                text-transform: uppercase;
            }
        }
    }
}

@media (min-width: 1024px) {
    .features {
        display: flex;
    }
}