.navbar-help {
  background-color: #ED462F; }
  .navbar-help span {
    color: #FDF733; }

.navbar-help, .navbar-basic {
  width: 100%; }

@media (min-width: 768px) {
  .navbar-basic {
    display: flex; }
    .navbar-basic div {
      text-align: center; }
  .navbar-help {
    display: none; } }

@media (min-width: 1024px) {
  .navbar {
    grid-row: 1 !important;
    display: unset !important; }
    .navbar-basic {
      justify-content: space-around; }
      .navbar-basic div {
        text-align: right; } }

.topbar-legal {
  border-right: 1px solid lightgray; }

.topbar a:hover {
  text-decoration: none; }

@media (min-width: 480px) {
  .topbar {
    display: none; } }

@media (min-width: 768px) {
  .topbar {
    display: flex;
    justify-content: flex-end; } }

@media (min-width: 1024px) {
  .topbar {
    padding-right: 60px !important; } }

.header {
  margin: 0px; }
  .header .navbar-menu {
    display: flex;
    list-style: none;
    text-decoration: none; }

@media (min-width: 1024px) {
  .appbar-tool {
    grid-template-columns: 150px auto auto !important;
    padding-right: 60px !important;
    padding-left: 60px !important; }
  .appbar img {
    grid-row: 1; }
  .appbar button {
    display: none; } }

@media (min-width: 768px) {
  .carousel-item img {
    height: 500px; } }

.features {
  padding-top: 20px; }
  .features .feature {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px; }
    .features .feature-main {
      margin-left: 30px;
      margin-bottom: 30px; }
      .features .feature-main h3,
      .features .feature-main a {
        text-transform: uppercase; }

@media (min-width: 1024px) {
  .features {
    display: flex; } }

.about-us__main {
  padding: 30px; }
  .about-us__main .title {
    text-transform: uppercase; }
  .about-us__main .subtitle {
    font-style: italic;
    margin-bottom: 30px; }
  .about-us__main .list {
    list-style: none;
    padding: 0px;
    margin-bottom: 40px; }
    .about-us__main .list__item {
      margin-bottom: 15px; }
  .about-us__main .learn-more {
    border: 1px solid #ED462F;
    padding: 15px 50px;
    color: #ED462F;
    font-weight: 600;
    text-transform: uppercase; }

@media (min-width: 768px) {
  .about-us {
    position: relative; }
    .about-us__main {
      position: absolute;
      width: 590px;
      top: 40px;
      right: 20px;
      background-color: white;
      box-shadow: 0px 0px 12px #ddd; }
    .about-us__image img {
      height: 650px; } }

.circle {
  border-radius: 50%; }
  .circle-image {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30%;
    color: white; }

.circle-big {
  position: relative;
  width: 250px;
  height: 250px;
  background-color: white;
  border: 2px solid gray;
  margin-left: auto;
  margin-right: auto; }
  .circle-big:hover {
    border: 2px solid #ED462F; }

.circle-mid {
  transform: translate(18%, 20%);
  width: 180px;
  height: 180px;
  background-color: #cdcdcd; }
  .circle-mid:hover {
    background-color: #f9c3bc; }

.circle-small {
  transform: translate(38%, 40%);
  width: 100px;
  height: 100px;
  background-color: gray; }
  .circle-small:hover {
    background-color: #ED462F; }

.bubble-description {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  color: gray; }
  .bubble-description a {
    text-transform: uppercase;
    color: gray; }
    .bubble-description a:hover {
      color: #ED462F;
      text-decoration: none; }

.what-we-do {
  text-align: center;
  margin-top: 30px; }
  .what-we-do h4 {
    text-transform: uppercase; }
    .what-we-do h4 span {
      color: #ED462F; }
  .what-we-do__description {
    padding: 20px;
    font-style: italic;
    color: gray; }

@media (min-width: 768px) {
  .what-we-do__bubble {
    display: grid;
    grid-template-columns: auto auto; } }

@media (min-width: 1024px) {
  .what-we-do__bubble {
    display: flex; } }


/*# sourceMappingURL=main.css.map*/