.navbar {
    &-help {
        background-color: #ED462F;
        span {
            color: #FDF733;
        }
    }
    &-help,
    &-basic {
        text-transform: uppercase;
        width: 100%;
    }
    &-basic {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    &-item {
        &:hover {
            border-bottom: 4px solid #ED462F;
            color: #ED462F;
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        &-basic {
            display: flex;
            padding: 0px !important;
            div {
                text-align: center;
            }
        }
        &-help {
            display: none;
        }
    }
}
@media (min-width: 1024px) {
    .navbar {
        grid-row: 1 !important;
        display: unset !important;
        &-basic {
            justify-content: space-around;
            div {
                text-align: right;
                width: unset;
            }
        }
    }
}