.header {
    margin: 0px;
    .navbar {
      &-menu {
        display: flex;
        list-style: none;  
        text-decoration: none;
      }
    }
}


@media (min-width: 1024px) {
  .appbar {
    &-tool {
      grid-template-columns: 350px auto auto auto !important;
      padding-right: 60px !important;
      padding-left: 60px !important;
      align-items: end !important;
    }
    img {
      grid-row: 1;
    }
    button {
      display: none;
    }
  }
}